<div class="login-container">
  <div class="login-card">
    <h2>Accedi</h2>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input class="form-control" type="email" formControlName="email" placeholder="La tua email" />
        @if (loginForm.get('email')?.hasError('required')) {
          <small class="text-danger">Email obbligatoria</small>
        }
        @if (loginForm.get('email')?.hasError('email')) {
          <small class="text-danger">Email non valida</small>
        }
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input
          class="form-control"
          type="password"
          formControlName="password"
          placeholder="La tua password"
        />
        @if (loginForm.get('password')?.hasError('required')) {
          <small class="text-danger">Password obbligatoria</small>
        }
        @if (loginForm.get('password')?.hasError('minlength')) {
          <small class="text-danger">Minimo 6 caratteri</small>
        }
      </div>

      <a class="btn btn-link px-0" routerLink="/register">Non sei registrato? clicca qui!</a>
      <button class="btn btn-primary w-100" type="submit">Accedi</button>
    </form>
  </div>
</div>
