<nav class="navbar">
  <div class="container-fluid navbar-elements">
    <a class="navbar-brand" href="/"><img src="EN-Join_logo.PNG" alt="" /></a>
    <form class="search-form" role="search">
      <input
        class="search-bar form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="navbar-btn" type="submit">Search</button>
    </form>
    <button class="navbar-btn" onclick="location.href = '/login'">Login</button>
  </div>
</nav>
