<nav class="navbar">
  <div class="container-fluid navbar-elements">
    <h1></h1>
    <a class="navbar-brand" routerLink="/"><img src="EN-Join_logo.PNG" alt="" /></a>
    @if (!isLoggedIn()) {
      <button class="navbar-btn" routerLink="/login">Login</button>
    } @else {
      <div class="user-menu">
        <button class="avatar-btn" type="button" (click)="toggleDropdown()">
          <img
            class="avatar-img"
            [src]="user()?.image || 'https://placehold.co/84x84?text=U'"
            [alt]="(user()?.firstName || 'User') + ' avatar'"
          />
        </button>
        @if (isDropdownOpen) {
          <div class="dropdown-menu-custom">
            <span class="dropdown-user-name"> {{ user()?.firstName }} {{ user()?.lastName }} </span>
            <a routerLink="/" (click)="toggleDropdown()">Home</a>
            <a routerLink="/profile" (click)="toggleDropdown()">Profilo</a>
            <button type="button" (click)="logout()">Logout</button>
          </div>
        }
      </div>
    }
  </div>
</nav>
