<div class="container hero-section-container">
  <div class="row row-cols-4 hero-section-row g-3">
    <div class="col">
      <button
        class="hero-header w-100 d-flex align-items-center justify-content-center p-3 rounded border-0"
      >
        <i class="hero-icons bi bi-tags fs-1"></i>
      </button>
      <h5 class="text-center hero-card-title m-0 mt-2">Categorie</h5>
    </div>
    <div class="col">
      <button
        (click)="openModal()"
        class="hero-header w-100 d-flex align-items-center justify-content-center p-3 rounded border-0"
      >
        <i class="hero-icons bi bi-plus-circle fs-1"></i>
      </button>
      <h5 class="text-center hero-card-title m-0 mt-2">Aggiungi Evento</h5>
    </div>
    <div class="col">
      <button
        class="hero-header w-100 d-flex align-items-center justify-content-center p-3 rounded border-0"
      >
        <i class="hero-icons bi bi-person-fill-lock fs-1"></i>
      </button>
      <h5 class="text-center hero-card-title m-0 mt-2">Eventi Privati</h5>
    </div>
    <div class="col">
      <button
        class="hero-header w-100 d-flex align-items-center justify-content-center p-3 rounded border-0"
      >
        <i class="hero-icons bi bi-calendar3 fs-1"></i>
      </button>
      <h5 class="text-center hero-card-title m-0 mt-2">Calendario Eventi</h5>
    </div>
  </div>
</div>

<div class="container mt-4">
  <h3 class="hero-title">Prossimi Eventi :</h3>
  <div class="row row-cols-3">
    <div class="col">
      <div class="hero-card">
        <div>
          <img
            src="https://www.placecats.com/50/50"
            class="card-img-top"
            alt="https://www.placecats.com/50/50"
          />
        </div>
        <div class="hero-card-body">
          <div class="hero-card-text">
            <h5 class="hero-card-title">Card title</h5>
            <p>TEXT CARD</p>
          </div>
          <a href="#" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL -->

<!-- Modal -->
@if (isModalOpen) {
  <div class="modal d-block">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Aggiungi Evento</h5>
          <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Categoria</label>
            <select class="form-select">
              <option>Seleziona categoria...</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Numero massimo di persone</label>
            <input type="number" class="form-control" placeholder="Es. 10" />
          </div>
          <div class="mb-3">
            <label class="form-label">Luogo</label>
            <input type="text" class="form-control" placeholder="Es. Roma, Via..." />
          </div>
          <div class="mb-3">
            <label class="form-label">Descrizione</label>
            <textarea class="form-control" rows="3" placeholder="Descrivi l'evento..."></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label">Data</label>
            <input type="date" class="form-control" />
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" (click)="closeModal()">Annulla</button>
          <button class="btn btn-primary">Salva Evento</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Sfondo scuro dietro il modal -->
  <div class="modal-backdrop fade show" (click)="closeModal()"></div>
}
